@CHARSET "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#main_container {
	width: 100%;
	height: 100%;
}

#middle {
	width: 100%;
	background-color: #EEEEEE;
}

#header {
	width: 100%;
	height: 120px;
	background-color: #FFFFCC;
}


#sidebar {
	float: left;
	width: 175px;
	background-color: #CCDDFF;
}

#content {
}

#footer {
	clear:both;
	width: 100%;
	height: 30px;
	background-color: #A6FFD2;
	
}

a:hover {
	text-decoration: underline;
}

object {
	
}